header {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white !important;
    width: 100%;
  
   
  }

  nav {
    
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 16px 0;
  
    .nav-left{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .first_left{
            color: #2D4059;
            font-size: 20px;
        
        }
        .first_right{
            ul{
                display: flex;
                gap: 20px;
                a{
                    color: rgb(75, 74, 74);
                    font-size: 18px;
                }
            }
        }
    }
    .nav-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            gap: 30px;
            align-items: center;
            a{
                font-size: 17px;
                color:#96BB7C;
            }
            button{
                background-color: #96BB7C;
                color: white;
                border: none;
                width: 130px;
                height: 50px;
                border-radius: 8px;
            }
        }
    }
  }
