main{
   
}
.col-12{
    width: 100%;
}
.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}
.section_1{
    
    text-align: center;
    background-image: url("../media/background.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0px;
   
   h2{
    color: #96BB7C;
    font-size: 23px;
   }
   h1{
    color: #252B42;
    font-size: 70px;
    margin: 3% 0px;
   }
   p{
    color: #737373;
    font-size: 30px;
    margin-bottom: 3%;
   }
   .left-button{
    width: 193px;
height: 52px;
background: #96BB7C;
border-radius: 5px;
padding: 15px 40px;
color: white;
   }
   .right-button{
    width: 193px;
height: 52px;
background: white;
border-radius: 5px;
padding: 15px 40px;
border:1px solid #96BB7C;
color: #96BB7C;
   }
}
.section_2{
    z-index: 99;
    div{
        padding: 10%;
        display: flex;
        justify-content: center;
        gap: 40px;
        img{
            width: 83px;
            height: 58px;
        }
    }
}
.section_3{
    .container{
        width: 70%;;
        margin: 0 auto;
        .row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .col-12{
            h6{
                color: #96BB7C;
                font-size: 18px;
            }
            h1{
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                color: #252B42;
                margin: 2% 0px 1% 0px;

            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;

            }
        }
    
        .col-3{
            margin-top: 5%;
            
            div{
                margin: 0px 2%;
                text-align: center;
                box-shadow: 5px 10px 8px 10px #d0cece;
                padding-top: 7%;
                div{
                    box-shadow: 5px 10px 8px 10px #ffffff;
                    margin: 5% auto 0px auto;
                    background-color: #B3E3FF;
                    width: 72px;
                    height: 58.12px;
                    border-bottom-left-radius: 50px;
                    border-bottom-right-radius: 5px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 50px;
                    }

                }
                hr{
                    margin: 5% auto;
                    background-color: red;
                    width: 100px;

                }
                h1{
                    font-size: 20px;
                }
                p{
                    margin-top: 3% ;
                }
            }
        }
    }
}
.section_4{
    .container_2{
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        .row{
            display: flex;
            flex-wrap: wrap;
        
            .col-6{
              height: 500px;
              
                img{
                    
                    height: 500px;
                    margin: 0px 0px 0px 20%;
                }
            }
            .second{
                div{
                    width: 100px;
                    height: 5px;
                    background-color: red;
                    margin: 5% 0px;
                }
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 18px;
                    margin: 5% 0px;
                   color: #737373;

                }
                a{
                    color: #96BB7C;
                }
            }
        }
    }
}
.section_5{
    background-color: #EFF8ED;
    padding: 3% 0px;
    .container{

        width: 70%;
        margin: 5% auto;
        .row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .col-12{
            h6{
                color: #96BB7C;
                font-size: 18px;
            }
            h1{
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                color: #252B42;
                margin: 1% 0px 1% 0px;

            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;

            }
        }
    
        .col-3{
            margin-top: 5%;
            
            div{
                margin: 0px 10%;
              
              
               
                
                .top_div{
                    width: 90%;
                    height: 300px;
                    background-image: url("https://cdn.shopify.com/s/files/1/1174/1558/products/3_e3331615-6080-40e2-aab4-908c756de891_400x.jpg?v=1580162817");
                   
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .button_div{
                    background-color: white;
                    width: 80%;
                    padding:0px 5%;
                    h6{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        color: #96BB7C;

                    }
                    h3{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.1px;
                        color: #252B42;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: #737373;
                        margin-bottom: 5%;

                    }
                    span{
                        font-weight: bolder;
                        color: #737373;
            
                    }
                    .right_span{
                        color: #FFAB71;
                        font-weight: bolder;
                        margin-left: 3%;
                    }
                    div{
                        margin-top: 5%;
                        display: flex;
                        ul{
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 170px;
                        height: 50px;
                        border-radius: 30px;
                        color: #96BB7C;
                        border: 1px solid #96BB7C;
                        background-color: white;
                        margin-top: 5%;
                    }
                }
                
            }
        }
    }
}
.section_6{
  
    padding: 3% 0px;
    .container{

        width: 70%;
        margin: 5% auto;
        .row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .col-12{
            h6{
                color: #96BB7C;
                font-size: 18px;
            }
            h1{
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                color: #252B42;
                margin: 1% 0px 1% 0px;

            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;

            }
        }
        .col-6{
            
            text-align: center;
            margin-top: 5%;
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
            button{
                width: 100px;
                height: 30px;
                background-color: rgb(26, 26, 154);
                color: white;
                border-radius: 20px;
                border: none;
                margin: 5% 0px;
            }
        }
    
        
    }
}
